.comp-cabecalho {
    padding: 10px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1100px;
    width: 98.4vw;


    .img{
        margin-right: 1000px;
        width: 50vw;
    }
    
    

}